/* @import './styles/fonts.css'; */

:root {
  /* 키오스크 기본 패딩/라운드 값 */
  --gap: 30px;
  --radius-lg: 20px;
  --radius-xl: 28px;

  /* 색상 */
  --black: #222222;
  --white: #ffffff;
  --mize-blue: #0692e7;
  --dark-blue: #344087;
  --blue: #37a7eb;
  --light-blue: #a8e0f9;
  --light-gray: #eeeeee;
  --dark-gray: #B5B5B5;
  --red: #ff4231;
  --background-gray: #f5f5f5;
  --overlay-gray: #00000099;

  --white-font: #ffffff;
  --black-font: #222222;
  --light-black-font: #444444;
  --blue-font: #37a7eb;
  --gray-font: #666666;
  --placeholder-font: #888888;

  --border-gray: #dddddd;

  --ct-bg: #000000;
  --ct-bg2: #151515;
  --ct-txt: #ffffff;
  --ct-txt2: #b5b5b5;
  --ct-txt3: #434343;
  --ct-border: #dddddd;
  --ct-blue: #52bdff;
  --ct-red: #9E1D11;
}

/* 전역 스타일 */
body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* 스크롤바 숨기기 */
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/* 전역 버튼 효과 */
button:active {
  opacity: 0.8;
  /* background: var(--light-gray); */
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* 기본 효과 제거 */
button {
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

/* 뷰포트 크기 고정 */
@media (min-width: 1080px) and (min-height: 1920px) {
  html {
    font-size: 16px;
    /* 기본 폰트 크기 설정 */
  }
}

/* 특정 해상도에 맞춘 스타일 */
/*
만약 1080x1920 해상도에만 엄격하게 적용하려면 아래와 같이 작성할 수 있습니다.
하지만, 뷰포트 크기가 달라질 때를 대비하여 유연한 접근을 추천합니다.
*/
/*
@media (width: 1080px) and (height: 1920px) {
  body, html, #root {
    width: 1080px;
    height: 1920px;
  }
}
*/